In [1]:
import pandas as pd

In [2]:
import os

os.environ['PYPEAL_CONFIG'] = '../config.ini'

In [3]:
import sys
sys.path.append('../src')
from pypeal.entities.peal import Peal


peals = Peal.get_all()

len(peals)

4247

In [4]:
def peal_to_dict(peal: Peal):
    return {
        'id': peal.id,
        'date': peal.date,
        'title': peal.title,
        'location': peal.location,
        'location_detail': peal.location_detail,
        'duration': peal.duration,
        'composer': peal.composer,
        'conductors': peal.conductors,
        'length_type': peal.length_type,
        'changes': peal.changes,
        'ringers': [r.ringer for r in peal.ringers],
    }

In [5]:
df = pd.DataFrame([peal_to_dict(peal) for peal in peals])

df

,id,date,title,location,location_detail,duration,composer,conductors,length_type,changes,ringers
0,1,1946-11-17,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Trevor Hayward],2,1260.0,"[Kenneth F Medway, Edward White, Harry Andrews..."
1,2,1946-11-24,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",42.0,None,[Roger O Fry],2,1260.0,"[Edward White, Arthur Adams, Edward J Fry, Tre..."
2,3,1947-01-05,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",48.0,None,[Roger O Fry],2,1260.0,"[Stan Townsend, Edward White, Edward J Fry, Tr..."
3,4,1947-03-09,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",42.0,None,[Trevor Hayward],2,1260.0,"[Kenneth F Medway, Edward White, Edward J Fry,..."
4,5,1947-06-15,Plain Bob Minor,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",NaN,None,[Roger O Fry],2,1260.0,"[Kenneth F Medway, Dora Evans, Edward White, G..."
...,...,...,...,...,...,...,...,...,...,...,...
4242,4273,2024-12-29,Plain Bob Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Michael J Stubbs],2,1260.0,"[Michael W Day, Paul V W Feast, Molly S Waters..."
4243,4274,2024-12-24,Stedman Triples,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",NaN,R William Willans,[R William Willans],2,1260.0,"[Ruth Beavin, R William Willans, Patrick C Bri..."
4244,4275,2024-12-22,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",41.0,None,[Molly S Waterson],2,1260.0,"[Patrick C Bridges, Thomas G A Wareing, Michae..."
4245,4276,2024-12-24,Middlesex Bob Triples,"Bath, Somerset, England",Abbey Ch of S Peter & S Paul,55.0,None,[Thomas G A Wareing],2,1260.0,"[Julie Perkins, R William Willans, David L Por..."
4246,4277,2023-12-09,Spliced Surprise Minor (5m),"Bath, Somerset, England","S Matthew, Widcombe",42.0,Glenn A A Taylor,[Matthew W Goodship],2,1296.0,"[Matthew J Butler, Josh D P Jones, Nicholas C ..."

In [6]:
df[['location_detail', 'location']].value_counts()

location_detail                location
Blessed Virgin Mary, Bathwick  Bath, Somerset, England                         3122
Abbey Ch of S Peter & S Paul   Bath, Somerset, England                          198
S Michael                      Bath, Somerset, England                          136
S Helen                        Lundy Island, Devon, England                      27
S Stephen, Lansdown            Bath, Somerset, England                           22
                                                                               ...
S Giles                        Newcastle under Lyme, Staffordshire, England       1
                               Leigh upon Mendip, Somerset, England               1
                               Cheddington, Buckinghamshire, England              1
S Germanus                     St Germans, Cornwall, England                      1
dedication unknown             Canford Magna, Dorset, England                     1
Name: count, Length: 516, dtype: int64

In [7]:
# count peals that contain a specific ringer
ringer = 'Michael J Stubbs'
df['ringers'].apply(lambda ringers: ringer in [r.name for r in ringers]).value_counts()

ringers
False    2255
True     1987
Name: count, dtype: int64

In [12]:
df_exploded = df.explode('ringers')
df_exploded['Ringer'] = df_exploded['ringers'].apply(lambda r: r.name)
df_exploded['Bell'] = df_exploded['ringers'].apply(lambda r: r.bell_nums and r.bell_nums[0])

df_exploded

AttributeError: 'Ringer' object has no attribute 'bell_nums'

In [8]:
ringers_view = df['ringers'].explode().value_counts()

ringers_view

ringers
Michael J Stubbs      1987
Robin M Stubbs        1561
R William Willans     1427
Thomas N Longridge    1262
Maggie F Willans      1242
                      ...
John S Walton            1
Brian J Wylde            1
James Hedgcock           1
John Pladdys             1
Jaime Hamper             1
Name: count, Length: 1657, dtype: int64

In [20]:
ringers_view = df.explode('ringers')
ringers_view['name'] = ringers_view['ringers'].apply(lambda r: r.name)
ringers_view['given_names'] = ringers_view['ringers'].apply(lambda r: r.given_names)
ringers_view['last_name'] = ringers_view['ringers'].apply(lambda r: r.last_name)
# ringers_view.drop('ringers', axis=1)

ringers_view

,id,date,title,location,location_detail,duration,composer,conductors,length_type,changes,ringers,name,given_names,last_name
0,1,1946-11-17,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Trevor Hayward],2,1260.0,Kenneth F Medway,Kenneth F Medway,Kenneth F,Medway
0,1,1946-11-17,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Trevor Hayward],2,1260.0,Edward White,Edward White,Edward,White
0,1,1946-11-17,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Trevor Hayward],2,1260.0,Harry Andrews,Harry Andrews,Harry,Andrews
0,1,1946-11-17,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Trevor Hayward],2,1260.0,Edward J Fry,Edward J Fry,Edward J,Fry
0,1,1946-11-17,Grandsire Doubles,"Bath, Somerset, England","Blessed Virgin Mary, Bathwick",45.0,None,[Trevor Hayward],2,1260.0,Roger O Fry,Roger O Fry,Roger O,Fry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4241,4269,2007-12-11,Plain Bob Doubles,"Bath, Somerset, England",S Michael,NaN,None,[Philip S Taylor],2,1260.0,Thomas G A Wareing,Thomas G A Wareing,Thomas G A,Wareing
4241,4269,2007-12-11,Plain Bob Doubles,"Bath, Somerset, England",S Michael,NaN,None,[Philip S Taylor],2,1260.0,Matthew A Skues,Matthew A Skues,Matthew A,Skues
4241,4269,2007-12-11,Plain Bob Doubles,"Bath, Somerset, England",S Michael,NaN,None,[Philip S Taylor],2,1260.0,Heather C Peters,Heather C Peters,Heather C,Peters
4241,4269,2007-12-11,Plain Bob Doubles,"Bath, Somerset, England",S Michael,NaN,None,[Philip S Taylor],2,1260.0,Philip S Taylor,Philip S Taylor,Philip S,Taylor
4241,4269,2007-12-11,Plain Bob Doubles,"Bath, Somerset, England",S Michael,NaN,None,[Philip S Taylor],2,1260.0,Matthew J Butler,Matthew J Butler,Matthew J,Butler

In [23]:
ringers_view[ringers_view.apply(lambda r: r['ringers'].id != 132, axis=1)].groupby(['name', 'location_detail', 'location']).size().reset_index(name='Count').sort_values('Count', ascending=False)

,name,location_detail,location,Count
5036,Robin M Stubbs,"Blessed Virgin Mary, Bathwick","Bath, Somerset, England",1525
4684,R William Willans,"Blessed Virgin Mary, Bathwick","Bath, Somerset, England",1158
3083,Linda A Drew,"Blessed Virgin Mary, Bathwick","Bath, Somerset, England",1158
3274,Maggie F Willans,"Blessed Virgin Mary, Bathwick","Bath, Somerset, England",1058
3924,Michael W Day,"Blessed Virgin Mary, Bathwick","Bath, Somerset, England",919
...,...,...,...,...
2269,Giles R Wood,S John Bapt,"Chilcompton, Somerset, England",1
2268,Giles R Wood,S Columba,"St Columb Minor, Cornwall, England",1
2267,Giles R Wood,S Brevita,"Lanlivery, Cornwall, England",1
2264,Giles R Wood,Abbey Ch of S Peter & S Paul,"Bath, Somerset, England",1
6322,Zoë E Roberts,S Mark,"Exeter, Devon, England",1

In [16]:
ringers_view.groupby(['name', 'location_detail', 'location']).size().reset_index(name='Count').sort_values('Count', ascending=False)

Empty DataFrame
Columns: [name, location_detail, location, Count]
Index: []